/* 
Please read this article for more information 
on the `box-sizing` css property:

https://www.w3schools.com/css/css3_box-sizing.asp

Note that the asterisk symbol (*) that you see below
means that the specicif css attribute is applied
to all elements.
*/

* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffff;
  }


  a {
    color: rgb(126, 39, 82);
  } 

  .header {
    padding: 5px;
    text-align: center;
    background: #000000;
    color: rgb(255, 255, 255);
    font-size: 10px;
  }

  .row{
    text-align: center;
  }

  .column {
    display: inline-block;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;

  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

   /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1200px) {
    .column {
    width: 100%;
    }
  }  
  
/* 
Please read this article for more information 
on the `vh` unit below, which stands for viewport-percentage 
unit for height:

https://developer.mozilla.org/en-US/docs/Web/CSS/length

*/

  #chart {
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
  }

  #network {
    width: 100%;
    height: 150vh;
    background-color: #8b8b8b;
    text-align: center;
    overflow: scroll;
  }

  #myBtn{
    background-color: #000000; /* Green */
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .axisLabel {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-anchor: middle;
  }
  
  .axis {
    font-size: 10pt;
  }

  /* https://gist.github.com/mbostock/4062045*/

  .links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .nodes circle {
    stroke: none;
    stroke-width: 1.5px;
    fill: #ffffff;
  }

  .label {
    font-family: Arial, Helvetica, sans-serif;
    fill:rgb(0, 0, 0);
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: relative;
  margin:30% auto;
  background-color: #ffffff;
  width: 70%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000000;
  color: #ffffff;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #000000;
  color: #ffffff;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}